<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag("favicon.jpg") %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->


    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Team</a>

    <!-- Notification link-->
    <a href="" class="navbar-wagon-item navbar-wagon-link">
      <div class="badge-container">
        <i class="fa fa-envelope-o"></i>
      </div>
    </a>

    <!-- Profile picture and dropdown -->


    <!-- Button (call-to-action) -->
  </div>

  <!-- Dropdown appearing on mobile only -->

</div>



<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/47E77904CB.jpg');">
  <div class="banner-content">
    <h1>Dinners time</h1>

<div class="buttonstyle">
<a class="btn btn-default btn-lg" data-method="get" href="/users/new">To be a guest</a>
</div>
  </div>
</div>

<p id="notice"><%= notice %></p>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.second Name %></td>
      <td><%= user.string %></td>
      <td><%= user.description %></td>
      <td><%= user.title %></td>
      <td><%= user.content %></td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>









